body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3em 0;
  }
  
  .square,
  .circle {
    cursor: pointer;
    width: 200px;
    height: 200px;
  }
  
  .square {
    background-color: red;
  }
  
  .square:hover {
    background-color: yellow;
    transform: translateY(-30px);
  }
  
  .circle {
    display: block;
    background-color: purple;
    border-radius: 50%;
  }
  .circle:hover {
    background-color: orange;
    transform: translateY(-30px);
    transition-duration: 15ms;
  }
  .triangle {
    cursor: pointer;
    border-right: 90px solid transparent;
    border-bottom: 200px solid green;
    border-left: 90px solid transparent;
    
  }
  .triangle:hover {
    border-bottom: 200px solid pink;
    transform: translateY(-30px);
  }
  button {
    padding: 1.4em;
    background-color: rgb(172, 161, 161);
    cursor: pointer;
    border: none;
    border-radius: 15px;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .hidden {
    visibility: hidden;
  }

